<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>-->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <script src="/js/angular-gist.min.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js"></script>-->
  </head>
  <body ng-controller="AppController as vm">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-repeat="post in vm.posts">
        <div ng-bind-html="vm.sanitizeHtml(post.body)"></div>
        <hr/>
    </div>
    <script>
        var app = angular.module('app', ['ngSanitize', 'gist'])
                .factory('contentService', contentService)
                .controller('AppController', AppController);

        contentService.$inject = ['$http', '$q'];

        AppController.$inject = ['contentService', '$sce'];

        function contentService($http, $q){

            function getPosts(){
                return $http({
                    method: 'GET',
                    url: './posts',
                    data: {}
                }).then(function(response){
                    return angular.fromJson(response.data);
                }, function(reason){
                    console.log(reason);
                    return $q.reject(reason);
                });
            }

            return {
                getPosts: getPosts
            }
        }

        function AppController(contentService, $sce){
            var vm = this;
            vm.posts = [];

            function getPosts(){
                contentService.getPosts()
                        .then(function(result){
                            vm.posts = result;
                        },function(reason){
                            vm.posts = [{body: 'There was an error getting posts: '+ reason}];
                        });
            }

            vm.sanitizeHtml = function(postBody){
                return $sce.trustAsHtml(postBody);
            };

            function init(){
                getPosts();
            }
            init();
        }

    </script>
  </body>
</html>
